
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 33% 26%;

    --muted: var(--background);
    --muted-foreground: 215 33% 26%;

    --primary: 205 100% 32%;
    --primary-foreground: var(--foreground);

    --secondary: 205 100% 44%;
    --secondary-foreground: var(--foreground);

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --border: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border ring-border;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground debug-screens;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
